body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mainblock
{
  height: 600px;
  width: 700px;

  background-image: url("../src/assets/snake-imp.jpg");
  background-size: 100% 100%;

  border: 1px solid black;

  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
  gap: 1px;
}

.mainblock1
{
  height: 606px;
  width: 706px;  
  margin-left: 30px;
  margin-top: 20px;

  padding-left: 3px;
  padding-top: 3px;

  border: 4px solid rgb(247, 73, 73);

  background-color: blanchedalmond;
}


.block
{
  height: 57px;
  width: 67px;

  opacity: 60%;
  
  overflow: hidden;
  border: 1px solid black;
}

.block > h3
{
  opacity: 160%;
}

.button
{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
}

.button > button
{
  height: 50px;
  width: 150px;
  font-size: larger;
}

.count
{
  height: 150px;
  width: 150px;

  background-color: rgb(187, 238, 255);
  border: 1px solid rgb(88, 88, 88);
  border-radius: 50%;

  font-size: 24px;
}

.Game
{
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
}

.score {
  width: 150px;
  text-align: center;

  background-color: rgb(253, 246, 235);
  width: 250px;
  border: 5px solid rgb(97, 183, 97);
  border-radius: 20px;

  margin-bottom: 70px;

}

.dice
{

  height: 100px;
  width: 100px;

  background-color: rgb(24, 24, 24);
  
  border-radius: 13px;


}

.dice > img
{
  height: 100%;
  width: 100%;
}
